@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@keyframes my-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-90%);
    }
  }

@keyframes my-animation-medium {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10%);
  }
}

@keyframes to-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
}

@keyframes to-more-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(25%);
  }
}
